.about-list{
    font-size: 18pt;
}

.hobbiesDiv{
    padding: 30px 0 30px 0;
}

.infoPanel{
    background-color: #444;
    padding: 0 !important;
}

@media screen and (max-width: 992px)  {
    .about-list span{
        font-size: 10pt;
        display: block;
    }    
}

@media screen and (max-width: 768px)  {
    .about-list span{
        font-size: 8pt;
        display: block;
    }    
}
