#landingDiv{
    height: 100% !important;
    text-align: center;
}

#landingName{
    padding: 50px 0 50px 0;
}

.mid-banner{
    padding: 10px 0 10px 0;

}

.bgcover{
    background-color: rgba(0, 0, 0, 0.904);
    padding: 35px 25px 0px 25px;
    box-shadow: 4px 4px 4px #000;
}

.responsive-h2{
    font-family: 'Lalezar', cursive;
    text-shadow: 2px 2px 2px #000;
    padding-bottom: 25px;
}

.lineDiv{
    border-top: 2px solid #666;
    margin: 20px auto;
}

#coreyRo{
    font-size: 54pt;
    color: #FFFFFF;
}

#fullStack{
    color: #FFFFFF;
}

.landingNavDiv{
    padding: 0 0 60px 0;
}


.intro i{
    padding: 0 2px 0 2px !important;
}

.intro .fa-code, .code{
    color: #FFA000 !important;
}

.intro .fa-graduation-cap, .grad{
    color: rgb(0, 140, 255) !important;
}

.intro .fa-mobile-alt, .m-1st {
    color: rgb(51, 255, 0) !important;
}