.footer-dark{
    padding: 10px 0 10px 0;
    text-align: left;
    color: rgb(184, 184, 184);
    background: #313131; /* Old Browsers */
    background: -webkit-linear-gradient(top,#313131,#1e1e1e); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#313131,#1e1e1e); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#313131,#1e1e1e); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #313131, #1e1e1e); /*Standard*/
}
.footer-dark a{
    color: #FFF;
}

.footer-dark a:hover{
    color: rgb(30, 98, 223);
}
.footer-div{
    padding: 25px;
}
footer h3{
    color: rgb(194, 194, 194);
    border-bottom: 2px solid rgb(194, 194, 194);
}

.footer-social h3{

}

.footer-contact h3{

}

.footer-navigation h3{

}
