.titleDiv{
    width: 100% !important;
}

.titleDiv .title{
    border-bottom: 2px solid rgb(255, 0, 0);
    background-color: #181818;
    color: #FFFFFF;
    text-align: left;
    padding: 5px 0 0 10px;
    margin: 0 0 0 0;
    font-family: 'Lalezar', cursive;
    width: 100% !important;
}

